
@{
    ViewBag.Title = "Get_Cust_Res_Germany";
}

<h2>Get_Cust_Res_Germany</h2>
<p> Gives All Customers Names who are residing in Germany</p>
@foreach(var p in Model)
            {
                <li>@p</li>
            }

